<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Minicamping Sint Jan">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Minicamping Sint Jan</title>
</head>
<body>
<div class="container">
    <%= htmlWebpackPlugin.options.menu %>
    <%= htmlWebpackPlugin.options.content %>
</div>
</body>
</html>