/* GLOBAL VALUES */

$body:                  #707173;
$gray:                  #717276;
$grayDark:              #18181a;
$grayLight:             #999;
$white:                 #fff;
$green:                 #689239;

$textColor: $grayLight;
$background: $green;

// Alternative layout breakpoints
$mobile: 310px;
$tablet: 460px;
$desktop: 980px;
